:root {
	touch-action: pan-x pan-y;
	height: 100%;
}

* {
	box-sizing: border-box;
}

.dg .property-name {
	width: 60% !important;
}

.dg .c {
	width: 40% !important;
}

body {
	margin: 0;
	overflow: hidden;
	font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
		"Roboto Mono", "Oxygen Mono", "Ubuntu Mono", "Source Code Pro", "Fira Mono",
		"Droid Sans Mono", "Consolas", "Courier New", monospace;
}

#c {
	margin: 0;
}

#a {
	position: fixed;
	bottom: 1rem;
	left: 1rem;
	background: black;
	color: white;
	font-size: 16px;
}

#webgpu-debug-root {
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100vh;
	width: 25vw;
	min-width: 300px;
	border-radius: 1px dotted red;
	color: white;
	overflow: auto;
	transition: transform 0.175s ease-in-out;
	transform: translate3d(-100%, 0, 0);
}

#webgpu-debug-root.open {
	transform: translate3d(0, 0, 0);
}

.section {
	display: flex;
	flex-wrap: wrap;
}

.section-headline {
	border-bottom: 1px solid white;
	padding-bottom: 1rem;
	margin-bottom: 1rem;
}

.debug-canvas-wrapper {
	margin-right: 0.75rem;
	width: 100%;
	padding-bottom: 1.5rem;
	border-bottom: 1px solid white;
	/* margin-bottom: 0.5rem; */
}

.debug-canvas {
	width: 100%;
	border: 1px solid rgba(255, 255, 255, 0.12);
}

#timings-debug-container {
	position: fixed;
	bottom: 0.5rem;
	right: 0.5rem;
}

#timings-debug-container {
	color: white;
}

.timing-container {
	display: flex;
	border-bottom: 1px solid rgba(255, 255, 255, 0.12);
	border-right: 1px solid rgba(255, 255, 255, 0.12);
	border-left: 1px solid rgba(255, 255, 255, 0.12);
	padding: 0.5rem;
	font-size: 12px;
	user-select: none;
}

.timing-container:first-of-type {
	border-top: 1px solid rgba(255, 255, 255, 0.12);
}

.timing-label {
	margin-right: 0.5rem;
}
