:root {
	touch-action: pan-x pan-y;
	height: 100%;
}

* {
	box-sizing: border-box;
}

.dg .property-name {
	width: 60% !important;
}

.dg .c {
	width: 40% !important;
}

body {
	margin: 0;
	overflow: hidden;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
		Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#c {
	margin: 0;
}

#a {
	position: fixed;
	bottom: 1rem;
	left: 1rem;
	background: black;
	color: white;
	font-size: 16px;
}

#webgpu-debug-root {
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100vh;
	width: 25vw;
	min-width: 300px;
	border-radius: 1px dotted red;
	color: white;
	overflow: auto;
	transition: transform 0.175s ease-in-out;
	transform: translate3d(-100%, 0, 0);
}

#webgpu-debug-root.open {
	transform: translate3d(0, 0, 0);
}

.section {
	display: flex;
	flex-wrap: wrap;
}

.section-headline {
	border-bottom: 1px solid white;
	padding-bottom: 1rem;
	margin-bottom: 1rem;
}

.debug-canvas-wrapper {
	margin-right: 0.75rem;
	width: 100%;
	padding-bottom: 1.5rem;
	border-bottom: 1px solid white;
	/* margin-bottom: 0.5rem; */
}

.debug-canvas {
	width: 100%;
	border: 1px solid rgba(255, 255, 255, 0.12);
}

#timings-debug-container {
	position: fixed;
	top: 1rem;
	left: 1rem;
}
